body {
    text-align: center;
    background-color: #5F7C8A;
}
span {
    margin: 40px 40px;
    font-size: 35px;
}
button {
    background-color: #00BBD3;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
}
#app {
    margin-top: 100px;
}